argcomplete
autocommand
certifi
chardet
charset-normalizer
click
idna
inflect
jaraco.context
jaraco.functools
jaraco.text
more-itertools
packaging
pillow
platformdirs
Pygments
PyYAML
requests
setproctitle
setuptools
typeguard
typing_extensions
urllib3
userpath
wheel
zipp
chinese-calendar
consolemenu
python-daemon
